h1 {
  color: blue;
  text-align : center;
}
h2 {color:blue
text-align :  center;
  font-style: italic;
}
p{
  font-style: italic;
}
ol{line-height: normal;
}
.mantra{font-style: italic;
}
.mantra{color: green
}
p.mantra{font-size: 20px
}
.line1 {
  color: red;
}
#line2 {
  color: red;
}
.navbar {
  float: none;
  list-style-type: georgian;
  margin-top: 25px;
}
.navbar li{
  display: inline-block;
}
