h1
{
  color: red;
  text-align : left;
  font-size: italic;
}
h2 color:blue
text-align :  center;
  font-style: italic;
}

#line2
{
  color: red;
}
.navbar
 {
  float: none;
  list-style-type: georgian;
  margin-top: 25px;
}
.navbar li
{
  display: inline-block;
}
.navbar li a
{
  color: blue;
  text-decoration :none;
  padding: 5px 20px;
  font-family: sans-serif;
}
.active {
  background-color: #4CAF50;
}




















img
{
  float: right;
}
.sidebar
{
width:30%;
float:right;
background-color: blue;
}
